# Python
__pycache__/
*.pyc

# Dataset
data/

# Outputs
outputs_phase2/
outputs_phase3/
outputs_ckks/
outputs_pq_*

# Checkpoints
*.pt
*.pth

# Logs
logs/
*.log

# Docker cache
*.tar

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db